:root {
    --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --Soft-red: hsl(14, 88%, 65%);
    --Soft-violet: hsl(273, 75%, 66%);
    --Soft-blue: hsl(240, 73%, 65%);
    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);
    --Light-grayish-blue: hsl(240, 5%, 91%);
    --fs: 12px;

}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, var(--Soft-violet), var(--Soft-blue));
    z-index: -1;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs);
    font-family: 'Kumbh sans', sans-serif;
}

h1 {
    font-size: 32px;
    font-weight: 700;
}

p {
    font-weight: 100;
    line-height: 20px;
}

.container {
    display: flex;
    background-color: white;
    border-radius: 30px;
}

span {
    float: right;
}

.item-1 {
    background-color: var(--bright-orange);
    color: black;
}

.vraag {
    padding: 12px 0;
}

.antwoord {
    padding: 10px 0;
}

input {
    display: none;
}

.border {
    border-top: 1px solid var(--Light-grayish-blue);
}

.antwoord {
    display: none;
}

input[type=checkbox]:checked~.antwoord {
    display: block;
}

input[type=checkbox]:checked~label p {
    font-weight: 700;
}

input[type=checkbox]:checked~label img {
    transform: rotate(180deg);
    transition-duration: 0.5s;
}

label {
    transition: left 1s;
    transition-timing-function: ease-in-out;
}

label p:hover {
    color: var(--Soft-red);
    cursor: pointer;
}

span {
    float: right;
}

.item-1 {
    background-color: var(--bright-orange);
    color: black;
}

@media only screen and (max-width: 1440px) {

    .container {
        position: relative;
        display: flex;
        width: 350px;
        height: 530px;
        flex-direction: column;
        align-items: center;
        margin-top: 120px;
        margin-bottom: 30px
    }

    h1 {
        text-align: center;
        padding: 20px;
        margin-top: 70px;
    }

    .box {
        display: none;
    }

    .woman-online-mobile {
        position: absolute;
        top: -108px;
        transform: translateX(-55%);
    }

    .bg-pattern-mobile {
        position: absolute;
        top: -5px;
        transform: translateX(-50%);
    }

    .wrapper-right {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        width: 305px;
    }
}

@media only screen and (min-width: 1441px) {

    .box-wrapper {
        position: relative;
        width: 900px;
        height: 520px;
    }

    .container {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        width: 900px;
        height: 520px;
        margin-top: 80px;
    }

    .wrapper-left {
        width: 450px;
        height: 520px;
    }

    .box {
        position: absolute;
        top: 295px;
        right: 800px;
        z-index: 3;
        transition: 0.3s;
        transition-timing-function: ease-in-out;
    }

    .bg-pattern-desktop {
        margin-top: -740px;
        margin-left: -580px;
    }

    .woman-online-desktop {
        padding-top: 80px;
        margin-left: -80px;
        z-index: 1;
    }

    h1 {
        text-align: left;
        padding-bottom: 40px;
        margin-top: 60px;
    }

    .wrapper-right {
        width: 450px;
        padding: 50px 100px 50px 10px;
        margin-top: -40px;
    }

    .card {
        margin-top: -10px;
    }

    body:has(label:hover) .box {
        right: 840px;
        transition: 0.75s;
        transition-timing-function: ease-in-out;
    }
}
